<div *ngIf="displayDownload && !downloadInProgress && !downloadComplete" class="alert alert-app-level alert-warning" style="margin-bottom:10px;width: 100%;" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
      </div>
      <div class="alert-text">
        There is a new version ({{updater.latestAppVersion}}) available for download
      </div>
      <div class="alert-text">
        <button (click)="updater.requestDownload()" class="btn alert-action">Download the latest version</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="updater.downloadInProgress && downloadProgress < 100" style="width:60%; margin-top: 5px; margin-bottom:5px; margin-left: auto; margin-right: auto;">
  <p-progressBar [value]="downloadProgress"></p-progressBar>
</div>